<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>

        <li<%= sidebar_current("docs-keychain-datasource") %>>
          <a href="#">Data Sources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-keychain-datasource-keychain-item") %>>
              <a href="/docs/providers/keychain/d/keychain_item.html">keychain_item</a>
            </li>
            <li<%= sidebar_current("docs-keychain-datasource-keychain-wifi") %>>
              <a href="/docs/providers/keychain/d/keychain_wifi.html">keychain_wifi</a>
            </li>
          </ul>
        </li>

        <li<%= sidebar_current("docs-keychain-resource") %>>
          <a href="#">Resources</a>
          <ul class="nav nav-visible">
            <li<%= sidebar_current("docs-keychain-resource-keychain-item") %>>
              <a href="/docs/providers/keychain/r/keychain_item.html">keychain_item</a>
            </li>
            <li<%= sidebar_current("docs-keychain-resource-keychain-wifi") %>>
              <a href="/docs/providers/keychain/r/keychain_wifi.html">keychain_wifi</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

  <%= yield %>
<% end %>
